.holder {
  background-image: url('../images/travel-bg.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: 265px;
  margin-bottom: 35px;

  &.sleep {
    background-image: url('../images/frangipani.png');
  }
}